@import '~src/assets/colors.scss';

.close-container{
  cursor: pointer;
  margin: 0 auto;
  display: block;
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  position: relative;
  background: transparent;
  border-radius: 100px;
  &:hover{
    background: rgba(0,0,0,.1)
  }
  >.bar{
    position: absolute;
    left: 15%;
    top: 50%;
    width: 70%;
    height: 1px;
    opacity: .4;
    background: $textual_blue;
    transform: rotateZ(45deg);
    &.second{
      transform: rotateZ(-45deg);
    }
  }
}