@import '~src/assets/colors.scss';

.hamburger-container{
  cursor: pointer;
  height: 60px;
  width: 60px;
  border-radius: 0 5px 5px 0;
  background: $complentary_1;
  border: none;
  outline: none;
  &:hover{
    background: $complentary_2;
  }
  >.horizontal-bar{
    width: 70%;
    height: 8px;
    background: white;
    margin: 6px auto;
    border-radius: 15px;
    &:first-child{
      margin-top: 5px;
    }
  }
}