@import '~src/assets/colors.scss';

.hamburger-container{
  cursor: pointer;
  height: 50px;
  width: 50px;
  background: transparent;
  border: none;
  outline: none;
  >.horizontal-bar{
    width: 70%;
    height: 4px;
    background: $textual_blue;
    margin: 6px auto;
    border-radius: 15px;
    &:first-child{
      margin-top: 5px;
    }
  }
}