@keyframes scrollAnimation{
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(90px);
  }
}

.scroll-icon-wrapper{
  animation-name: scrollAnimation;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.scroll-icon{
  height: 30px;
  width: 30px;
  margin: 0 auto;
  transform: rotatez(45deg);
  border-radius: 2px;
}