@import '~src/assets/colors.scss';

section.landing{
  overflow: hidden;
  margin-bottom: 50vh;
  padding-bottom: 25vh;
  
  .vertical-align-wrapper{
    transform: translateZ(80px);
    height: 100%;
    width: 100%;
  }
  
  .title{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: $textual_blue;
    >h1{
      font-weight: bolder;
      font-size: 56px;
    }
    >h3{
      font-weight: lighter;
      font-size: 22px;
    }
  }
  
  [djkParallaxContainer]{
    height: 100vh;
    .shadow{
      background: black;
    }
    
    >app-scroll-icon{
      bottom: 12vh;
      width: 80px;
      margin: 0 auto;
      left: 0;
      right: 0;
      position: absolute;
      transform: translateZ(80px);
      &:not(.shadow){
        cursor: pointer;
        background: rgba(255,255,255,0.1);
        border-radius: 40px;
      }
      &.shadow{
        transform: translateZ(0);
        background: transparent;
        opacity: .4;
      }
    }
    >.landing-one{
      position: absolute;
      left: -10vw;
      top: -15vh;
      width: 52vw;
      height: 50vh;
      background: $beige_3;
      &.shadow{
        background: black;
      }
    }
    >.landing-two{
      position: absolute;
      right: -30vw;
      top: -15vh;
      width: 57vw;
      height: 50vh;
      background: $beige_2;
      &.shadow{
        background: black;
      }
    }
    >.landing-three{
      position: absolute;
      left: -5vw;
      bottom: 8vh;
      width: 52vw;
      height: 30vh;
      background: $beige_2;
      &.shadow{
        background: black;
      }
    }
    >.landing-four{
      position: absolute;
      right: -5vw;
      bottom: 13vh;
      width: 60vw;
      height: 30vh;
      background: $analog_1;
      &.shadow{
        background: black;
      }
    }
    >.landing-five{
      position: absolute;
      right: 12vw;
      bottom: 40vh;
      width: 13vw;
      height: 20vh;
      background: white;
      &.shadow{
        background: black;
      }
    }
  }

  @media (max-width: 768px){
    .title{
      >h1{
        font-size: 32px;
      }
      >h3{
        font-size: 18px;
      }
    }
  }
  @media (max-width: 360px){
    .title{
      >h1{
        font-size: 20px;
      }
      >h3{
        font-size: 16px;
      }
    }
  }
}