<section class='about'
  [ngClass]="{'mobile' : isMobile}">
    <div djkParallaxContainer perspective="850px">
  
      <h3 [@text]='visibility'>About me</h3>

      <div class='bio' [@text]='visibility'>
        <p>Web developer with front-end experience, designing and building interactive web applications with the latest technologies, applying deep styling and scripting knowledge as well as back-end practice with Node.js servers using Express.js framework and no relational databases.</p>
        <p>I started programing during the course of my bachelor degree in Civil Engineering, since then this área of knowledge has become my passion, till the point of defining my professional profile.</p>
      </div>      

      <div 
        class='img'
        [@picture]='visibility'>
          <div class='parallax-box'>
            <img src="assets/eric-picture.png" alt="Eric Van Der Dijs">
          </div>
          <div class='parallax-shadow'></div>
      </div>

      <div 
        class='decoration-1' 
        [@decoration1]='visibility'
        [ngClass]='visibility === "hidden" && "hidden"'>
          <div class='parallax-box'></div>
          <div class='parallax-shadow'></div>
      </div>

      <div 
        class='decoration-2'
        [@decoration2]='visibility'
        [ngClass]='visibility === "hidden" && "hidden"'>
          <div class='parallax-box'></div>
          <div class='parallax-shadow'></div>
      </div>

    </div>
  </section>