// base color         : H:37  S:85 L:50
// analogo color      : H:8   S:85 L:50
// complementary color: H:218 S:85 L:50

$beige_bg: #fdf4e7;
$beige_2: #f7d6a0;
$beige_3: #f3c171;
$complentary_1: #f16c59;
$complentary_2: #c05647;
$textual_blue: #03142f;