/* You can add global styles to this file, and also import other style files */
@import 'assets/colors.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');

*, html, body{
  font-family: Raleway, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.20px;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

  &::-webkit-scrollbar-track-piece  {
      background-color: $analog_1;
  }

  &::-webkit-scrollbar-thumb:vertical {
      height: 30px;
      border-radius: 100px;
      background-color: $textual_blue;
  }

}

body{
  background: $beige_bg; 
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: inherit;
}

.vertical-align-wrapper{
  display: table;
  >.vertical-align{
    display: table-cell;
    vertical-align: middle;
  }
}